{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}

	<div class="container">

		{% include "/components/_search.html.twig" with { form:formView ?? null } only %}

		{% if res is defined %}
			{% if res|length <= 1 %}
				<h2 class='text-center'>Il y a
					{{ res|length }}
					post qui correspond à votre recherche</h2>
			{% else %}
				<h2 class='text-center'>Il y a
					{{ res|length }}
					posts qui correspondent à votre recherche</h2>
			{% endif %}
			{% for post in res %}
				<div class="card bg-dark text-light mt-3 p-4">
					<div class="card-body">
						<h2 class='card-title text-center'>{{ post.title }}</h2>

						<p class='card-text text-center'>{{ post.content }}</p>
						<div class='d-flex justify-content-center'>
							<a href="{{ path('show', {slug:post.slug}) }}" class="btn btn-primary px-3 py-2">voir plus</a>
						</div>

						<div class='d-flex justify-content-center mt-3'>
							{% include "components/_badge.html.twig" with { categ : post.category } only %}
						</div>

					</div>
				</div>
			{% endfor %}
			<div class="d-flex justify-content-center mt-4">
				{{ knp_pagination_render(res,null,{},{
					query:params.query,
					categories:params.categories,
					page:params.page|default(1)
				})}}
			</div>
		{% else %}
			{% for post in posts %}
				<div class="card bg-dark text-light mt-3 p-4">
					<div class="card-body">
						<h2 class='card-title text-center'>{{ post.title }}</h2>

						<p class='card-text text-center'>{{ post.content }}</p>
						<div class='d-flex justify-content-center'>
							<a href="{{ path('show', {slug:post.slug}) }}" class="btn btn-primary px-3 py-2">voir plus</a>
						</div>

						<div class='d-flex justify-content-center mt-3'>
							{% include "components/_badge.html.twig" with { categ : post.category } only %}


						</div>
					</div>
				</div>
			{% endfor %}
			<div class="d-flex justify-content-center mt-4">
				{{ knp_pagination_render(posts)}}
			</div>
		{% endif %}


	</div>

{% endblock %}
