{% extends 'base.html.twig' %}

{% block title %}{{ tag.title }}{% endblock %}

{% block body %}

{% for tag in tags %}

    <div class="card bg-dark text-light mt-3 p-4">
        <div class="card-body">
            <h2 class='card-title text-center'>{{ tag.title }}</h2>

            <p class='card-text text-center'>{{ tag.content }}</p>
            <div class='d-flex justify-content-center'>
                <a href="{{ path('show', {slug:tag.slug}) }}" class="btn btn-primary px-3 py-2">voir plus</a>
            </div>

            <div class='d-flex justify-content-center mt-3'>
                {% include "components/_badge.html.twig" with { categ : tag.category } only %}

            {% for t in tag.tags %}
                <button type="button" class="btn btn-info">
                    <a href="{{ path('app_tag', { id:t.id})}}">{{ t.title }}</div>
                    </a>
                </button>
            {% endfor %}

            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}
