{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}

	<h1>{{ posts|length }}</h1>

	{% for post in posts %}

		<li>Article
			{{post.id}}
			:
			<a href="{{ path('show', { slug:post.slug})}}">{{ post.title}}</a>
		</li>

		{% include "components/_badge.html.twig" with { categ : post.category } only %}

		<hr>

	{% endfor %}

	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(posts)}}
	</div>

{% endblock %}
